{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "@core(.*)$",
    "@notion/api",
    "@notion/main",
    "@notion/store",
    "@notion/services(.*)$",
    "@notion/pages(.*)$",
    "@notion/components(.*)$",
    "@notion/types(.*)$",
    "@notion/utils(.*)$",
    "@notion/constants(.*)$"
  ],
  "importOrderSortSpecifiers": true
}
