@import "./variable.css";

.rich-editor-container {
  width: 100%;
}
.rich-editor-container * {
  display: block;
}
#rich-editor {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--default-text);
}

#block {
  height: auto;
  display: block;
  position: relative;
  line-height: 20px;
  min-height: 28px;
  padding: 4px;
}
#block.current:empty::before {
  content: attr(placeholder);
  color: var(--default-text);
  opacity: 0.2;
}
#rich-editor b {
  display: inline;
  font-weight: 600;
}
#rich-editor u {
  display: inline;
  text-underline-offset: 5%;
}
#rich-editor i {
  display: inline;
  font-style: italic;
}
#rich-editor a {
  display: inline;
  color: var(--directory-text);
}
#rich-editor div {
  font-size: 16px;
}
#rich-editor h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  min-height: 48px;
  margin: 16px 0;
}
#rich-editor h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  min-height: 40px;
  margin: 12px 0;
}
#rich-editor h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  min-height: 32px;
  margin: 8px 0;
}
#rich-editor h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  min-height: 28px;
  margin: 6px 0;
}
#rich-editor q {
  border-left: 3px solid var(--default-text);
  padding-left: 16px;
  padding-top: 2px;
  margin: 8px;
}
#rich-editor aside {
  background-color: white;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid lightgray;
  margin: 8px 2px;
  line-height: 28px;
  min-height: 62px;
}
#rich-editor mark {
  background-color: var(--directory-hover);
  margin: 6px 2px;
}
#rich-editor img {
  width: 100%;
}
