@import './variable.css';

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
}

#app {
  height: 100vh;
}
.app-container {
  display: flex;
}

/* Directory */

nav {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  width: 250px;
  height: 100vh;
  border-right: 1px solid var(--directory-current);
  background-color: var(--directory-bg);
  color: var(--directory-text);
  gap: 20px;
  overflow: hidden;
  padding: 2px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2px;
  margin-top: 2px;
}
header button {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  height: 32px;
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  border-radius: 4px;
  gap: 10px;
  font-size: 16px;
}
header button:hover {
  background-color: var(--directory-hover);
}
header button:active {
  background-color: var(--directory-active);
}
header button > div {
  color: var(--directory-text);
}
header button.btn-home {
  font-weight: 500;
  height: 42px;
}
header button > i {
  color: var(--directory-btn);
}

.directory {
  flex-grow: 1;
  overflow-y: auto;
}
li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  height: 32px;
  cursor: pointer;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
}
li.current {
  background-color: var(--directory-current);
}
li:hover {
  background-color: var(--directory-hover);
}
li.current:hover {
  background-color: var(--directory-current-hover);
}
li:active {
  background-color: var(--directory-active);
}

.button-container {
  position: absolute;
  right: 4px;
  display: none;
}
li:hover .button-container {
  display: flex;
}
li button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 24px;
  width: 24px;
}
li button:hover {
  background-color: var(--directory-hover);
}
li button > i {
  font-size: 12px;
  color: var(--directory-btn);
}

.title-container {
  display: flex;
  padding-left: calc(var(--depth) * 20px);
}

.title {
  width: calc(190px - var(--depth) * 20px);
  padding: 3px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  margin-left: 4px;
}
li:hover .title {
  width: calc(132px - var(--depth) * 20px);
}
li.current .title {
  font-weight: 500;
  color: var(--default-text);
}

.document-holder {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: calc(var(--depth) * 20px + 16px);
  color: var(--directory-holder);
}

/* Editor */

main {
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10%;
  gap: 20px;
}

.editor > textarea {
  padding: 2px;
  font-size: 16px;
  resize: none;
  color: var(--default-text);
}

#title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}
#title::placeholder {
  color: var(--default-text);
  opacity: 0.2;
}
#content {
  flex-grow: 1;
}
#content::placeholder {
  color: var(--default-text);
  opacity: 0.4;
}

.emoji-container {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.emoji {
  width: 280px;
  height: 280px;
  overflow: auto;
}

.category-name {
  margin: 10px;
}

.emoji-list {
  display: flex;
  flex-wrap: wrap;
}

.emoji button {
  height: 36px;
  width: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
.emoji button:hover {
  background-color: var(--directory-hover);
}

.divider {
  height: 2px;
  background-color: black;
}

.intersector {
  height: 20px;
  background-color: white;
}
